services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    container_name: api
    hostname: api
    env_file:
      - .env
    environment:
      PORT: ${API_PORT}
      MONGO_URI: ${MONGO_URI}
      REDIS_URL: ${REDIS_URL}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    depends_on:
      - mongodb
    networks:
      - mongodb_network
      - api_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:$API_PORT/health"]
      interval: 30s
      timeout: 10s
      retries: 3
  mongodb:
    image: mongo:latest
    container_name: mongodb
    hostname: mongodb
    volumes:
      - mongodb-data:/data/db/
      - mongodb-log:/var/log/mongodb/
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - mongodb_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
  client:
    build:
      context: client
      dockerfile: Dockerfile
    container_name: client
    hostname: client
    env_file:
      - .env
    environment:
      VITE_PORT: ${CLIENT_PORT}
      VITE_API_URL: ${API_URL}
    networks:
      - api_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:$CLIENT_PORT"]
      interval: 30s
      timeout: 10s
      retries: 3
  cache:
    image: redis:6.2-alpine
    container_name: cache
    hostname: cache
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes: 
      - cache:/data
    networks:
      - api_network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
  nginx-proxy:
    image: nginx:latest
    container_name: nginx-proxy
    hostname: nginx-proxy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - api_network
    depends_on:
      - client
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  mongodb-data:
    driver: local
    name: mongo-data
  mongodb-log:
    driver: local
    name: mongo-log
  cache:
    driver: local

networks:
  mongodb_network:
    driver: bridge
    name: mongo-network
  api_network:
    driver: bridge
    name: api-network
